.inputWrapper {
  padding: 12px 20px 12px 56px;
  border: 1px solid var(--color-secondary);
  border-radius: 48px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  left: 18px;
}

.input {
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
  outline: transparent;
  color: var(--color-main);
  width: 100%;
}

.searchDropdown {
  background: white;
  position: fixed;
  width: 100%;
  top: 80px;
  height: 100%;
  padding: 0 20px;
}

.list {
  list-style-type: none;
}

.hr {
  margin: 16px 0;
}

.item {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.item:hover {
  cursor: pointer;
}
